<% layout('layouts/layout') %>

    <div class="relative w-full h-dvh overflow-hidden -z-10" id="banner">
        <!-- Imagen de fondo -->
        <img src="/malena.jpg" alt="malena" class="absolute inset-0 w-full h-full object-cover z-0" />

        <!-- Filtro negro -->
        <div class="absolute inset-0 bg-black/30 z-10"></div>

        <!-- Contenido encima -->
        <div class="relative z-20 flex justify-center h-full flex-col pl-20 w-4/5 md:w-1/2">
            <div class="flex gap-2 items-center py-4">
                <p href="/" class="px-2 py-1 bg-white rounded-xl">Aventura</p>
                <p class="text-white">05-2025</p>
            </div>
            <h1 class="text-6xl font-bold text-white pb-4">Titulo Principal</h1>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus veniam
                tempore, tempora maxime itaque corporis vitae perferendis repudiandae.</p>
        </div>
        <div class="absolute z-20 bottom-4 left-1/2 -translate-x-1/2 transform -translate-y-1/2 flex gap-2">
            <div class="bg-white h-2 w-2 rounded-full"></div>
            <div class="bg-white h-2 w-2 rounded-full"></div>
            <div class="bg-white h-2 w-2 rounded-full"></div>
            <div class="bg-white h-2 w-2 rounded-full"></div>
            <div class="bg-white h-2 w-2 rounded-full"></div>
        </div>
    </div>

    <section class="w-5/6 h-auto mx-auto my-10">
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-lg font-bold">Lugares de turismo</h2>
            <a class="rounded-xl px-2 py-1 border text-sm border-gray-400 font-bold">Ver todos</a>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-5">

            <% for (let i=0; i < 3; i++) { %>
                <div class="relative overflow-hidden rounded-xl h-72">
                    <img src="/malena.jpg" alt="malena" class="w-full h-full object-cover" />
                    <div class="absolute inset-0 bg-black/30 z-10"></div>
                    <div class="absolute top-5 right-5 z-20 text-gray-800 bg-white p-2 rounded-xl">
                        <a href="/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-square-arrow-out-up-right-icon lucide-square-arrow-out-up-right">
                                <path d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6" />
                                <path d="m21 3-9 9" />
                                <path d="M15 3h6v6" />
                            </svg>
                        </a>
                    </div>
                    <div class="absolute bottom-5 left-5 text-white z-20">
                        <h3 class="text-lg">Nombre del lugar</h3>
                        <p class="text-xs">Descripcion del lugar</p>
                    </div>
                </div>
                <% } %>
        </div>

        <div class="pb-4 pt-10 flex items-center justify-between">
            <a href="/" class="rounded-xl px-2 py-1 border text-sm border-gray-400 font-bold">Populares ahora</a>
            <span class="h-0.5 w-4/6 md:w-4/5 bg-gray-400 mx-2"></span>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
            <% for (let i=0; i < 3; i++) { %>
                <div class="">
                    <div class="flex gap-2 items-center py-4 text-sm">
                        <p href="/" class="font-bold">Aventura</p>
                        -
                        <p class="text-gray-500">05-2025</p>
                    </div>
                    <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus veniam
                        tempore, tempora maxime itaque corporis vitae perferendis repudiandae.</p>
                </div>
                <% } %>
        </div>
    </section>