<header
    class="fixed w-full h-28 z-50 items-start px-4 md:px-8 py-4 transition-colors duration-300 bg-gradient-to-b from-black/80 to-transparent">
    <div class="flex items-center justify-between w-full">
        <a class="cursor-pointer text-white hover:text-white/75" href="/">
            <!-- ícono del conejo -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-rabbit-icon lucide-rabbit">
                <path d="M13 16a3 3 0 0 1 2.24 5" />
                <path d="M18 12h.01" />
                <path
                    d="M18 21h-8a4 4 0 0 1-4-4 7 7 0 0 1 7-7h.2L9.6 6.4a1 1 0 1 1 2.8-2.8L15.8 7h.2c3.3 0 6 2.7 6 6v1a2 2 0 0 1-2 2h-1a3 3 0 0 0-3 3" />
                <path d="M20 8.54V4a2 2 0 1 0-4 0v3" />
                <path d="M7.612 12.524a3 3 0 1 0-1.6 4.3" />
            </svg>
        </a>
        <div class="hidden md:block absolute left-1/2 -translate-x-1/2">
            <nav>
                <ul class="flex items-center gap-10 text-white">
                    <li><a href="#" class="transition hover:text-white/75 hover:underline">Inicio</a></li>
                    <li><a href="#" class="transition hover:text-white/75 hover:underline">Contacto</a></li>
                    <li><a href="#" class="transition hover:text-white/75 hover:underline">Historia</a></li>
                    <li><a href="#" class="transition hover:text-white/75 hover:underline">Servicios</a></li>
                </ul>
            </nav>
        </div>
        <div class="flex gap-4 items-center">
            <a class="bg-white text-sm px-4 py-2 rounded-md transition hover:bg-gray-300" href="#">Login</a>
            <div class="md:hidden text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-menu-icon lucide-menu">
                    <path d="M4 12h16" />
                    <path d="M4 18h16" />
                    <path d="M4 6h16" />
                </svg>
            </div>
        </div>
    </div>
</header>