<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        <%= title || 'Mi App con Tailwind' %>
    </title>
    <link rel="shortcut icon" href="/malena.jpg" type="image/x-icon">
    <link href="/css/tailwind.css" rel="stylesheet" />
</head>

<body class="font-poppins">
    <main>
        <%- body %>
    </main>
</body>

</html>